.elementor-91 .elementor-element.elementor-element-e5c50b9 {
  column-gap: 0px;
}
.elementor-91 .elementor-element.elementor-element-a0b7fd7 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-91
  .elementor-element.elementor-element-a0b7fd7
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-91
  .elementor-element.elementor-element-eeeb329
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-91 .elementor-element.elementor-element-9002e23 {
  column-gap: 0px;
}
.elementor-91 .elementor-element.elementor-element-ea5a117 {
  --e-image-carousel-slides-to-show: 3;
}
.elementor-91 .elementor-element.elementor-element-a08daf3 {
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-weight: 400;
}
.elementor-91
  .elementor-element.elementor-element-a08daf3
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-91
  .elementor-element.elementor-element-baa1039
  .elementor-spacer-inner {
  height: 23px;
}
.elementor-91
  .elementor-element.elementor-element-a84fcd4
  .elementor-spacer-inner {
  height: 25px;
}
.elementor-91
  .elementor-element.elementor-element-bd2c28b
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-91 .elementor-element.elementor-element-0b544b6 {
  text-align: center;
  color: #28192af2;
  font-family: "Noto Sans TC";
  font-size: 50px;
  font-weight: 300;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.elementor-91
  .elementor-element.elementor-element-56d3f57
  .elementor-spacer-inner {
  height: 68px;
}
.elementor-91 .elementor-element.elementor-element-11e8b57 {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-91
  .elementor-element.elementor-element-11e8b57
  .elementor-divider-separator {
  width: 100%;
}
.elementor-91 .elementor-element.elementor-element-11e8b57 .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-91
  .elementor-element.elementor-element-0711b75
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-91 .elementor-element.elementor-element-0711b75 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-91
  .elementor-element.elementor-element-8606300
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-91
  .elementor-element.elementor-element-591335b.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-91 .elementor-element.elementor-element-09c2f18 {
  text-align: center;
}
.elementor-91
  .elementor-element.elementor-element-47afc9c.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-91 .elementor-element.elementor-element-ad8c806 {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-91
  .elementor-element.elementor-element-ad8c806
  .elementor-divider-separator {
  width: 100%;
}
.elementor-91 .elementor-element.elementor-element-ad8c806 .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-91
  .elementor-element.elementor-element-2062fc4.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-91
  .elementor-element.elementor-element-bf274b0.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-91 .elementor-element.elementor-element-99309de {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-91
  .elementor-element.elementor-element-99309de
  .elementor-divider-separator {
  width: 100%;
}
.elementor-91 .elementor-element.elementor-element-99309de .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-91
  .elementor-element.elementor-element-277d47d.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-91
  .elementor-element.elementor-element-a67a93b.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-91 .elementor-element.elementor-element-9122bb1 {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-91
  .elementor-element.elementor-element-9122bb1
  .elementor-divider-separator {
  width: 100%;
}
.elementor-91 .elementor-element.elementor-element-9122bb1 .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
:root {
  --page-title-display: none;
}
body.elementor-page-91:not(.elementor-motion-effects-element-type-background),
body.elementor-page-91
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #d12c2c;
}
@media (max-width: 767px) {
  .elementor-91 .elementor-element.elementor-element-09c2f18 {
    text-align: left;
  }
  .elementor-91 .elementor-element.elementor-element-a9137dd {
    text-align: left;
  }
  .elementor-91 .elementor-element.elementor-element-54416c5 {
    text-align: left;
  }
  .elementor-91 .elementor-element.elementor-element-3f5a9d3 {
    text-align: left;
  }
  .elementor-91 .elementor-element.elementor-element-4566290 {
    text-align: left;
  }
  .elementor-91 .elementor-element.elementor-element-58e07b4 {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .elementor-91 .elementor-element.elementor-element-058a44a {
    width: 40%;
  }
  .elementor-91 .elementor-element.elementor-element-eeeb329 {
    width: 60%;
  }
  .elementor-91 .elementor-element.elementor-element-c7791db {
    width: 60%;
  }
  .elementor-91 .elementor-element.elementor-element-38edbc8 {
    width: 40%;
  }
  .elementor-91 .elementor-element.elementor-element-9e6c494 {
    width: 60%;
  }
  .elementor-91 .elementor-element.elementor-element-00fae97 {
    width: 40%;
  }
  .elementor-91 .elementor-element.elementor-element-591335b {
    width: 15%;
  }
  .elementor-91 .elementor-element.elementor-element-2ce446f {
    width: 84.664%;
  }
  .elementor-91 .elementor-element.elementor-element-47afc9c {
    width: 15%;
  }
  .elementor-91 .elementor-element.elementor-element-9fbf0dc {
    width: 84.664%;
  }
  .elementor-91 .elementor-element.elementor-element-2062fc4 {
    width: 15%;
  }
  .elementor-91 .elementor-element.elementor-element-8a60dbf {
    width: 84.662%;
  }
  .elementor-91 .elementor-element.elementor-element-bf274b0 {
    width: 15%;
  }
  .elementor-91 .elementor-element.elementor-element-9eb23f2 {
    width: 84.662%;
  }
  .elementor-91 .elementor-element.elementor-element-277d47d {
    width: 15%;
  }
  .elementor-91 .elementor-element.elementor-element-daba057 {
    width: 84.662%;
  }
  .elementor-91 .elementor-element.elementor-element-a67a93b {
    width: 15%;
  }
  .elementor-91 .elementor-element.elementor-element-8d6cb5b {
    width: 84.662%;
  }
}
/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */
